body {
    font-family: Arial,'Times New Roman','Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif ;
    background-color: #e2bee9;
    margin: 20px;
    padding: 10px;
}
#stuname, #total {
  width: 100%; 
  max-width: 150px; 
  height: 30px;
}
.container {
    max-width: 800px;
    margin: auto;
    background: #40cbda;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(248, 3, 3, 0.1);
}
.DSA {
    color : magenta
}

button {
    text-align: center;
    padding: 10px;
    background-color: rgb(210, 106, 228);
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
